
[submodule "thirdparty/FastSIMD"]
	path = thirdparty/FastSIMD
	url = https://github.com/Auburn/FastSIMD.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
